.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 250px;
    height: 350px;
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 3px solid var(--main-clr);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.image {
    flex: 1;
}

.text {
    color: white;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0;
}