.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}

.card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;

    border: 3px solid var(--main-clr);
    cursor: pointer;
    border-radius: 20px;
}

.image {
    flex: 1;
}

.text {
    color: white;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0;
}